 <style type='text/css'>
	input{
    width: 150%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus,input[type=password]:focus{
    border: 3px solid #555;
    background-color: lightblue;
}
.boldtable, .boldtable TD, .boldtable TH
{
font-family:sans-serif;
font-size:20pt;
color:black;
}
</style>